div.loginRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    height: 45vh;
    width: 25vw;
    background-color: white;
    border-radius: 2vh;
    margin: auto;
}

div.registerRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
    height: 80vh;
    width: 25vw;
    background-color: white;
    border-radius: 2vh;
    margin: auto;
}


form.userForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.userForm label{
    padding: 0.5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form.userForm label input{
    font-size: 15px;
    margin: 0.2vh;
    width: 13vw;
    height: 4vh;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

form.userForm label input::placeholder {
    color: lightgrey;
}

form.userForm button{
    margin: 5vh 0 2vh 0;
    border-width: 0;
    color: white;
    width: 17vw;
    height: 8vh;
    border-radius: 30px;
    font-size: 20px;
}

form.userForm button:not(:disabled):hover {
    transform: scale(1.05);
}

form.userForm button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

label.responseMessage{
    height: 3vh;
    font-size: 2vh;
    margin: 0;
}

a{
    color: black;
}

a:hover{
    font-weight:bold;
}

p{
    height: 0.5vh;
    color: red;
    font-size: 13px;
}

p.response {
    color: lime;
}

