<div class="newQuestionRoot">
  <form class="center-content stretch" [formGroup]="newQuestionForm">

    <textarea #questionValue  placeholder="question" (input)="autoResize()" rows="1" class="questionValue" [formControl]="newQuestionForm.controls['value']"></textarea>

    <div class="topBox" >
      <p style="">Question type:</p>
      <button class="typeButton" type="button" (click)="switchTypeLeft()"> < </button>
      <p style="margin-left: 0.25vw; margin-right: 0.25vw">{{ getTypeDisplayName(question.type) }}</p>
      <button  class="typeButton" type="button" (click)="switchTypeRight()"> > </button>
    </div>

    <div [ngSwitch]="question.type" style="width: 100%">
      <new-single-choice *ngSwitchCase="QuestionType.SingleChoice" (onChange)="mapProperties($event)"></new-single-choice>
      <new-multiple-choice *ngSwitchCase="QuestionType.MultipleChoice" (onChange)="mapProperties($event)"></new-multiple-choice>
    </div>

  </form>
</div>
