<div class="newQuestionRoot">
  <form class="center-content stretch" [formGroup]="newQuestionForm">

    <div class="topBox">
      <button type="button" (click)="switchTypeLeft()"> < </button>
      <p>{{ getTypeDisplayName(question.type) }}</p>
      <button type="button" (click)="switchTypeRight()"> > </button>
    </div>
    <input class="questionValue" [formControl]="newQuestionForm.controls['value']"/>
    <div [ngSwitch]="question.type">
      <new-single-choice *ngSwitchCase="QuestionType.SingleChoice" (onChange)="mapProperties($event)"></new-single-choice>
    </div>

  </form>
</div>
