div.topBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.stretch {
  display: flex;
  width: 80%;
}

div.newQuestionRoot {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea.questionValue {
  width: 100%;
  border-width: 0 0 2px 0;
  font-size: 3vh;
  text-align: center;
  resize: none;
  overflow-y: hidden;
  font-family: 'Montserrat', sans-serif;
}

input.questionValue:focus {
  border-color: black;
  outline: none;
}

button.typeButton {
  visibility: hidden;
  border-style: none;
  background-color: transparent;
  font-size: 2.5vh;
  color: gray;
}

div.topBox:hover button.typeButton {
  visibility: visible;
}

button.typeButton:hover {
  color: black;
}

.errorMessage {
  color: red;
}
