<div class="newQuestionRoot">
  <form class="center-content stretch" [formGroup]="newQuestionForm">

    <textarea #questionValue  placeholder="question" (input)="autoResize(); checkValue();" rows="1" class="questionValue" [formControl]="newQuestionForm.controls['value']"></textarea>

    <div class="topBox" >
      <p style="">Question type:</p>
      <button class="typeButton" type="button" (click)="switchTypeLeft()"> < </button>
      <p style="margin-left: 0.25vw; margin-right: 0.25vw">{{ getTypeDisplayName(question.type) }}</p>
      <button  class="typeButton" type="button" (click)="switchTypeRight()"> > </button>
    </div>

    <div [ngSwitch]="question.type" style="width: 100%">
      <new-single-choice *ngSwitchCase="QuestionType.SingleChoice" (onChange)="mapProperties($event)" (errorChange)="processError($event)"></new-single-choice>
      <new-multiple-choice *ngSwitchCase="QuestionType.MultipleChoice" (onChange)="mapProperties($event)" (errorChange)="processError($event)"></new-multiple-choice>

      <min-max-question-component
        *ngSwitchCase="QuestionType.NumericalInteger"
        [minText]="'Minimal answer:'"
        [maxText]="'Maximal answer:'"
        [min]="-4294967296"
        [max]="4294967296"
        [numType]="'decimal'"
        (onChange)="mapProperties($event)"
        (errorChange)="processError($event)"
      ></min-max-question-component>

      <min-max-question-component
        *ngSwitchCase="QuestionType.NumericalDouble"
        [minText]="'Minimal answer:'"
        [maxText]="'Maximal answer:'"
        [min]="-4294967296"
        [max]="4294967296"
        [numType]="'double'"
        (onChange)="mapProperties($event)"
        (errorChange)="processError($event)"
      ></min-max-question-component>


      <min-max-question-component
        *ngSwitchCase="QuestionType.Textual"
        [minText]="'Minimal answer length:'"
        [maxText]="'Maximal answer length:'"
        [min]="0"
        [max]="10000"
        [numType]="'decimal'"
        (onChange)="mapProperties($event)"
        (errorChange)="processError($event)"
      ></min-max-question-component>
    </div>

  </form>

  <p class="errorMessage">{{ errorMessage }}</p>
</div>
