<div class="loginRoot">
  <h1 class="loginHeader">Sign in</h1>
  <form class="userForm" [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
    <label class="userForm">
      Username
      <input class="userForm" type="text" placeholder="Type your username" formControlName="login"/>
    </label>
    <label>
      Password
      <input type="password" placeholder="Type your password" formControlName="password"/>
    </label>
    <button class="gradientbackground" type="submit">Sign in</button>
  </form>
  <a routerLink="/register">Don't have an account yet? Sign up!</a>
</div>
