div.surveyRoot {
  position: relative;
  background-color: white;
  width: 70vw;
  min-height: 10vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh;
  border-radius: 2vh;
}

input.surveyName {
  width: 75%;
  border-width: 0 0 2px 0;
  font-size: 4vh;
  text-align: center;
}

input.surveyName:focus {
  border-color: black;
  outline: none;
}

button.addQuestionButton {
  width: 5vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border-width: 0.3vh;
  border-style: solid;
  font-family: 'Montserrat', sans-serif;
  font-size: 4vh;
  border-radius: 50%;
  background-color: white;
  color: gray;
  border-color: gray;
  margin-top: 3vh;
  cursor: pointer;
}

button.addQuestionButton:hover {
  border-width: 0.5vh;
}


.questionHolder {
  border-width: 2px;
  border-color: black;
  border-style: solid;
  display: flex;
  width: 70%;
  border-radius: 1vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4vh;
  padding: 1.5vh;
}

.nqc {
  display: flex;
  width: 100%;
}


button.removeQuestionButton {
  background-color: white;
  color: darkred;
  border-color: darkred;
  border-radius: 0.75vh;
  padding: 0.8vh;
}

button.removeQuestionButton:hover {
  font-weight: bold;
}
