.background {
  position: absolute;
  top: 3vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 60vw;
  min-height: 100vh;
  align-items: center;
  padding-top: 5vh;
  border-radius: 5vh;
}

.surveyTitle {
  font-size: 5vh;
}

button.nextPrev {
  font-size: 7.5vh;
  background-color: transparent;
  color: GrayText;
  outline: none;
  border: none;
}

button.nextPrev:hover {
  color: black;
}

div.row {
  display: flex;
  flex-direction: row;

}

.backButton {
  height: 7vh;
  position: absolute;
  top: 5vh;
  left: 9vh;
  cursor: pointer;
}

img {
  height: 7vh;
}
