<div class="background">
  <div class="backButton" (click)="goBack()">
    <img src="assets/back-button.png" alt="back button icon">
  </div>
  <div class="surveyTitle">{{this.stats.surveyName}}</div>
  <p>{{this.stats.resultCount}} survey{{this.stats.resultCount == 1 ? '' : 's'}} submitted</p>

  <div class="row">
  <button
    [ngStyle]="{'visibility' : index === 0 ? 'hidden' : 'visible'}"
    class="nextPrev"
    (click)="index = Math.max(index - 1, 0)">
    <
  </button>
  <question-stats [stats]="stats.answerStats[index]" [resultCount]="stats.resultCount"/>
  <button
    [ngStyle]="{'visibility' : index === stats.answerStats.length - 1 ? 'hidden' : 'visible'}"
    class="nextPrev"
    (click)="index = Math.min(index + 1, stats.answerStats.length - 1)">
    >
  </button>
  </div>
</div>
