.root {
  display: flex;
  flex-direction: row;
}

.display {
  font-family: 'Montserrat', sans-serif;
  font-size: 2vh;
  width: 2vw;
  text-align: center;
  border-style: none;
}

button {
  border-style: none;
  background-color: transparent;
  visibility: hidden;
  font-size: 0.75vh;
}

.root:hover button {
  visibility: visible;
}

.buttonHolder {
  display: flex;
  flex-direction: column;
}
