.coRoot {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.co {
  width: 70%;
  margin: 0.25vh;
  display: grid;
  column-gap: 1vw;
  grid-template-columns: 1vw auto 1vw 1vw;
  align-items: center;
}

div.dot {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: black;
  width: 1vh;
  height: 1vh;
  border-radius: 50%;
}

textarea.choiceOption {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  border-width: 0;
  font-size: 2vh;
  resize: none;
  overflow-y: hidden;
  font-family: 'Montserrat', sans-serif;
}

textarea.choiceOption:focus {
  outline: none;
}

.co button {
  visibility: hidden;
}

.co:hover button {
  visibility: visible;
}

.removeButton {
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: lightcoral;
  color: white;
  border: none;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
}

.mv {
  border-style: none;
  background-color: transparent;
  grid-column: 4;
  font-size: 1vh;
}

.upDownBox {
  grid-row-start: 1;
  grid-row-end: 2;
  height: 4.5vh;
}

.addCo {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  color: lightgreen;
  border-color: green;
  border-style: solid;
  background-color: green;
  border-radius: 50%;
  width: 3vh;
  height: 3vh;
  font-size: 2vh;
  font-family: 'Montserrat', sans-serif;
}

.addCo:hover {
  border-color: lightgreen;
}
