<div class="coRoot">


  <div class="minMaxHolder">
    <div class="minMaxHolder">
      <p>Minimum choices: </p>
      <co-min-max [min]="0" [max]="maximum"  (number)="minimum = $event"></co-min-max>
    </div>
    <div class="minMaxHolder">
      <p>Maximum choices: </p>
      <co-min-max [min]="Math.max(minimum + 1, choiceOptions.length)" [max]="choiceOptions.length" (number)="maximum = $event"></co-min-max>
    </div>
  </div>

  <div class="co" *ngFor="let co of choiceOptions">
    <div class="dot"></div>

    <textarea
      rows="1"
      class="choiceOption"
      #inputElem
      (input)="autoResize(inputElem)"
      (change)="co.value = inputElem.value; emitChange()"
      placeholder="Choice Option"
    ></textarea>

    <button class="removeButton" (click)="removeCo(co.number)">X</button>
    <div class="upDownBox">
      <button class="mv" *ngIf="co.number > 0" (click)="moveUp(co.number)">&#9650;</button>
      <button class="mv" *ngIf="co.number < choiceOptions.length - 1" (click)="moveDown(co.number)">&#9660;</button>
    </div>
  </div>
  <button class="addCo" (click)="addCo()">+</button>
</div>
